
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">员工账号</label>
            <div class="layui-input-block">
                <input type="text" name="account" lay-verify="required" lay-reqtext="账号不能为空" placeholder="请输入账号" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="pwd" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">员工姓名</label>
            <div class="layui-input-block">
                <input type="text" name="staffName" lay-verify="required" lay-reqtext="姓名不能为空" placeholder="请输入姓名" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" placeholder="请输入描述" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主管Id</label>
            <div class="layui-input-block">
                <select name="leaderId" id="parentSelect">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
    <script src="~/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
		layui.use(['form'], function () {
			var form = layui.form,
				layer = layui.layer,
				$ = layui.$;
			//通过Ajax去获取下拉列表数据进行渲染
			$.ajax({
                url: '/StaffInfo/GetSelectOptions',
				type: "get",
				success: function (res) {
					console.log("接口返回的结果", res);
					//父级部门数据
					var parentSelect = res.data.parentSelect;
					for (var i = 0; i < parentSelect.length; i++) {
						$("#parentSelect").append('<option value="' + parentSelect[i].value + '">' + parentSelect[i].title + '</option>');
					}
					//调用form重写渲染select
					form.render('select');
				}
			});


			//监听提交
			form.on('submit(saveBtn)', function (data) {
				$.ajax({
                    url: "/StaffInfo/CreateStaffInfo",
					type: "Post",
					data: {
						account: data.field.account,
                        staffName: data.field.staffName,
                        pwd: data.field.pwd,
                        description: data.field.description,
                        leaderId: data.field.leaderId,
					},
					success: function (res) {
						if (res.code == 200) {

							//执行搜索重载
							parent.table.reload('currentTableId', {
								page: {
									curr: 1
								}
								, where: {

								}
							}, 'data');

							var index = layer.alert(res.msg, {
								title: '添加结果'
							}, function () {

								// 关闭弹出层
								layer.close(index);

								var iframeIndex = parent.layer.getFrameIndex(window.name);
								parent.layer.close(iframeIndex);
							});
						} else {
							layer.alert(res.msg);//提示信息
						}
					}
				});

				return false;
			});

		});
    </script>
</body>
</html>
