<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/css/public.css" media="all">
    <style>
        .box {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="box">
        <div id="ShowMenu"></div>
        <br />
        <a class="layui-btn layui-btn-md layui-btn-normal" id="bindBtn">提交绑定</a>
    </div>

    <script src="~/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(function () {
            var transfer = layui.transfer,
                $ = layui.$;

            var roleId = window.location.search.substr(4);

            $.ajax({
                url: '/Admin/RoleInfo/GetBindMenuIdOptions',
                type: 'get',
                data: {
                    roleId: roleId
                },
                success: function (res) {
                    if (res.code == 200) {
                        // 渲染
                        transfer.render({
                            elem: '#ShowMenu',
                            data: res.data.options,
                            title: ['未绑定的菜单', '已绑定的菜单'],
                            value: res.data.mid,
                            showSearch: true,
                            parseData: function (res) {
                                return {
                                    "value": res.id, // 数据值
                                    "title": res.title, // 数据标题
                                }
                            },
                            id: "Menulist"
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                }
            })

            $("#bindBtn").click(function (res) {
                var getData = transfer.getData('Menulist'); // 获取右侧数据
                var mids = [];
                for (var i = 0; i < getData.length; i++) {
                    var mid = getData[i].value;
                    mids.push(mid);
                }
                $.ajax({
                    url: '/Admin/RoleInfo/BindMenuInfo',
                    type: 'post',
                    data: {
                        mids: mids,
                        roleId: roleId
                    },
                    success: function (res) {
                        layer.msg(res.msg);
                    }
                })
            })
        });
    </script>

</body>
</html>
